<div class="max-w-2xl p-8 rounded-xl mx-auto text-center my-16 bg-gray-50">
  <h1 class="font-black text-3xl">Vibe Report App</h1>

  <% if current_user.present? %>
    <%= current_user.email %>
    <p>Authentication Successful</p>
    <%= button_to 'Sign out', auth.sign_out_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', auth.sign_in_path %>
  <% end %>
</div>
