<div class="d-flex flex-column justify-content-center align-items-center flex-nowrap min-vh-100 p-1">
  <!-- Logo -->
  <div class="mb-5">
    <%= image_tag 'logo.png', class: 'img-fluid', width: 382, height: 87 %>
  </div>

  <!-- Title -->
  <div class="mb-5">
    <h1 class="mb-2 text-black" style="font-size: 36px;">Check your inbox!</h1>
    <p class="fs-xxl-5 fs-xl-5 fs-lg-5 fs-md-5 fs-sm-6 fs-6 text-black">
      Look for a unique access link in your inbox at:
    </p>
  </div>

  <!-- Email -->
  <% if @email %>
    <div class="fs-xxl-2 fs-xl-2 fs-lg-2 fs-md-2 fs-sm-3 fs-4 text-muted mb-7 text-break">
      <%= @email %>
    </div>
  <% end %>
</div>
