<div class="mx-auto placement-area">
  <%= render 'layouts/logo', height: 87 %>
  <div class="mt-64 size-message mx-auto">
    <h2 class="color-black mb-28">Check your inbox!</h2>
    <p class="b3 color-black">Look for a unique access link in your inbox at:</p>
  </div>
  <% if params.dig("passwordless", "email").present? %>
    <div class="b1 gray-600 mt-85"><%= params.dig("passwordless", "email") %></div>
  <% end %>
</div>
