<div class="container py-4">
	<!-- Logo -->
	<div class="d-flex justify-content-center pt-10">
		<%= image_tag 'logo.png', class: 'img-fluid', height: 87 %>
	</div>

	<!-- Title -->
	<div class="text-center mt-5 mx-auto">
		<h2 class="text-dark mb-2">Check your inbox!</h2>
		<p class="b3 text-dark">Look for a unique access link in your inbox at:</p>
	</div>

	<!-- Email -->
	<% if params.dig("passwordless", "email").present? %>
		<div class="b1 text-muted mt-5 text-center">
			<%= params.dig("passwordless", "email") %>
		</div>
	<% end %>
</div>
