<!DOCTYPE html>
<html lang="en">
<head>
  <title>Your Vibe Report Login Request</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <style>
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Josefin Sans', 'Arial', 'Ubuntu',  sans-serif;
          font-style: normal;
          font-weight:700;
          text-align: center;
      }
      @media only screen and (max-width: 600px){
          *{
              font-size: 2rem;
          }
      }
      .board{
          min-width:390px;
          margin-top:56px;
      }
      .centre {
          margin: 0 auto;
      }
      .first-row {
          height: 3.7rem;
          margin-bottom: 2.125rem;
      }
      .envelope {
          width: 8rem;
          height: 3.8rem;
          background-image: url( <%= asset_path 'envelope.png'%> );
          background-repeat: no-repeat;
          background-size: contain;
      }
      .logo{
          color: #000;
      }
      .envelope p {
          font-size: 0.75rem;
          line-height: 0.75rem;
          font-weight: 625;
          padding-top: 0.25rem;
          padding-left: 0.3125rem;
      }
      .second-row {
          height: 3.7rem;
          margin-bottom: 4.9rem;
      }
      .greeting {
          height: 3.7rem;
          font-weight: 700;
          font-size: 3rem;
          line-height: 3rem;
          color: #000000;
      }
      .welcome {
          font-size: 2rem;
          line-height: 3.5rem;
      }
      .third-row {
          height: 3.44rem;
          margin-bottom: 0.875rem;
      }
      .submit-annotation {
          height: 3.4rem;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.5rem;
          color: #000000;
      }
      .fourth-row {
          height: 3.75rem;
      }
      .btn {
          width: 14.6875rem;
          height: 3.75rem;
          background: #E02AA4;
          border: 0.0625rem solid #000000;
          box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.25);
          border-radius: 0.75rem;
          font-weight: 700;
          font-size: 2rem;
          font-family: 'Inter',  sans-serif;
          line-height: 2.4rem;
          align-items: center;
          color: #FFFFFF;
      }
      .btn-text {
          padding: .625rem 1.5625rem .3125rem 1.5625rem;
          width: 11.5625rem;
          height: 2.8125rem;
      }
      .btn-text a {
          color: white;
          font-family: 'Inter', sans-serif;
          line-height: 2.4375rem;
          font-size: 2rem;
          white-space: nowrap;
          text-decoration: none;
      }
      .btn:hover{
        cursor: pointer;
      }
      .btn:active{
          background-color: rgb(197, 17, 136);
      }

  </style>

</head>
<body>
<div class="board">
  <div class="first-row">
    <div class="centre envelope">
      <p class="logo">Logo/Brand</p>
    </div>
  </div>
  <div class="centre second-row">
    <div class="centre greeting">Oh, hi there!</div>
    <div class="welcome">Welcome back</div>
  </div>
  <div class="centre third-row">
    <div class="submit-annotation">An access request associated with your email was submitted</div>
  </div>
  <div class="fourth-row">
    <div class="centre btn">
      <div class="btn-text">
        <a target="_blank" href="<%= @magic_link %>">Access Site</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>