<!DOCTYPE html>
<html lang="en">
<head>
  <title>Your Vibe Report Login Request</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Josefin Sans', 'Arial', 'Ubuntu',  sans-serif;
          font-style: normal;
          font-weight:700;
          text-align: center;
      }
      .board{
          min-width:390px;
          margin-top:56px;
      }
      .centre {
          margin: 0 auto;
      }
      .first-row{
          height:58px;
          margin-bottom: 34px;
      }
      .envelope {
          width: 128px;
          height: 61px;
          background-image: url( <%= asset_path 'envelope.png'%> );
          background-repeat: no-repeat;
          background-size: contain;
      }
      .logo{
          color: #000;
      }
      .envelope p {
          font-size: 12px;
          line-height: 12px;
          font-weight: 625;
          padding-top: 4px;
          padding-left: 5px;
      }
      .second-row{
          height:59px;
          margin-bottom: 78px;
      }
      .greeting {
          height: 59px;
          width: 746px;
          font-weight: 700;
          font-size: 48px;
          line-height: 48px;
          color: #000000;
      }
      .welcome {
          font-size: 32px;
          line-height: 56px;
      }
      .third-row{
          height: 54px;
          margin-bottom: 14px;
      }
      .submit-annotation{
          height: 54px;
          font-size: 24px;
          font-weight: 700;
          line-height: 24px;
          color: #000000;
      }
      .fourth-row{
          height: 60px;
      }
      .btn{
          width: 235px;
          height: 60px;
          background: #E02AA4;
          border: 1px solid #000000;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 12px;
          font-weight: 700;
          font-size: 32px;
          font-family: 'Inter',  sans-serif;
          line-height: 39px;
          align-items: center;
          color: #FFFFFF;
      }
      .btn-text{
          padding: 10px 25px 5px 25px;
          width: 185px;
          height: 45px;
      }
      .btn-text a{
          color: white;
          font-family: 'Inter', sans-serif;
          line-height: 39px;
          font-size: 32px;
          white-space: nowrap;
          text-decoration: none;
      }
      .btn:hover{
        cursor: pointer;
      }
      .btn:active{
          background-color: rgb(197, 17, 136);
      }

  </style>

</head>
<body>
<div class="board">
  <div class="first-row">
    <div class="centre envelope">
      <p class="logo">Logo/Brand</p>
    </div>
  </div>
  <div class="centre second-row">
    <div class="centre greeting">Oh, hi there!</div>
    <div class="welcome">Welcome back</div>
  </div>
  <div class="centre third-row">
    <div class="submit-annotation">An access request associated with your email was submitted</div>
  </div>
  <div class="fourth-row">
    <div class="centre btn">
      <div class="btn-text">
        <a target="_blank" href="<%= @magic_link %>">Access Site</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>