@import "colors";
@import "variables";
@import "mixins";
@import "bootstrap/scss/_mixins";

.btn {
  &:active {
    margin: 3px 0 -3px 0;
    border-color: transparent;
  }

  @include button-variant($royal-blue, $black, $white, shift-color($royal-blue, 30%), shift-color($royal-blue, 30%),
          $white, shade-color($royal-blue, 20%), shade-color($royal-blue, 20%), $black, $royal-blue,
          $royal-blue, $gray-100);

  // use with C1 text
  &.btn-regular {
    min-width: 14.688rem;
    height: 3.75rem;
    box-shadow: $btn-box-shadow-other !important;
    border-radius: 0.75rem;
    padding: 0 20px;
  }

  &.btn-danger {
    color: $white;
    background-color: $red;
  }

  // use with C2 or C3 text
  &.btn-feature {
    box-shadow: $btn-box-shadow-other;
    height: 3.75rem;
  }

  // use with C1 or C2 text
  // Note: system interactions will pair with C1 text, whereas user actions will pair with C2.
  &.btn-modal {
    width: 15rem;
    height: 4rem;
    border-radius: 6px;
    box-shadow: $btn-box-shadow;

    &.active {
      box-shadow: 4px 2px 2px $gray-100;
    }

    &.back, &.delete, &.ok, &.btn-wide, &.btn-no {
      border-width: 0;
    }

    &.btn-wide {
      width: 300px;
    }

    &.btn-no {
      width: 196px;
    }
  }

  // For the Special Components/Inputs
  &.btn-bubbles {
    border: 1px solid $black;

    &.wb1 {
      &.not-standart {
        min-width: 260px;
      }

      &.not-shadow {
        box-shadow: none;
      }

      padding: 0 5px;
      height: 2rem;
      border-radius: 15px;
      box-shadow: $btn-box-shadow;
      min-width: 8rem;
      margin: 5px 0;
      max-width: 175px;
      overflow: hidden;
      @include emotion
    }
  }


  // For the Special buttons
  // ’More Shout-outs’ button (use with B3)

  // For Dropdown
  &.btn-item-menu {
    @include button-variant($white, $primary, $primary, shift-color($white, 7%), shift-color($primary, 10%),
            $primary, $primary, $primary, $white);
    width: 238px;
    height: 40px;
    box-shadow: 0px 4px 4px $gray-300;
    border-radius: .5rem;
    margin: 5px !important;
    font-size: 20px !important;

  }
}

// The recommend using the general styles above
// these style buttons are from CI-83
// they should be redone (recommended) relative to common styles (see epos CI-122)
// because they don't apply to the overall hierarchy

.btn-custom {
  &:disabled {
    opacity: 0.5;
  }

  &.shoutout {
    position: relative;
    padding: 5px;
    min-height: 59px;
    border: 4px solid $red-violet;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    img {
      width: 36px;
      height: 36px;
      margin-left: 5px
    }
  }
}

.max-width-btns {
  max-width: 800px;
}