@import "bootstrap/scss/_functions";

//Bootstrap Replacement
$primary1:       #D7007B ;
$secondary:      #F9D9EB ;

//$success:       $green ;
//$info:          $cyan ;
//$warning:       $yellow ;
//$danger:        $red ;
//$light:         $gray-100 ;
//$dark:          $gray-900 ;

// part of the colors from project


$color-muted: rgba(0, 0, 0, 0.6);
$color-black: #000000;
$color-blue: #5689EB;
$color-white: #FFFFFF;
$color-rose: #E02AA4;

//DEFINED FROM Vibe Report design system

//color-variables
$white:    #fff;
$gray-100: #D2D2D2;
$gray-200: #9E9E9E;
$gray-300: #666666;
$gray-400: #4D4D4D;
$gray-500: #454547;
$black:    #000;

$apricot:         #FCDDCE ;
$cinnamon:        #D1794E ;
$gray-tea-green:  #CCEDD5 ;
$emerald:         #7FCD95 ;
$navy-blue:       #0007A3 ;
$red-violet:      #D7007B ;
$pale-cornflower: #CCDCF9 ;
$pink:            #F9D9EB ;
$royal-blue:      #5689EB ;
$sea-green:       #4F9B64 ;
$steel-blue:      #4C77CB ;
$tea-green:       #DEF1E3 ;

$orange-100: #FADFD1 ;
$orange-200: #F7CDB8 ;
$orange-300: #F5C1A6 ;
$orange-400: #F09D74 ;
$orange-500: #F18C59 ;

$green-100: #D9F1E0 ;
$green-200: #CCEDD5 ;
$green-300: #B9E6C6 ;
$green-400: #A6DFB6 ;
$green-500: #80D197 ;

