@import "colors";
@import "variables";
@import 'buttons';
@import 'mixins';

////////////////////////////////////////////
// START OF DESIGN SYSTEM VIBEREPORT AREA //

.b1 {
  font-size: 2.5rem !important; //40px
}

.b2 {
  font-size: 2rem !important; //32px
}

// Use for regular buttons
.c1 {
  font: {
    family: $font-family-second !important;
    weight: $font-weight-bold !important;
  }
}

.c2 {
  font: {
    family: $font-family-base !important;
    weight: $font-weight-bold !important;
  }
}

.form-control {
  border: 3px solid $gray-100;

  &:focus {
    border: 3px solid $input-btn-border-color !important; //3px
    box-shadow: none !important;
  }
}

input, textarea {
  height: 4.375rem; //70px
  text-align: left;
  border: 3px solid $royal-blue;
  border-radius: 15px;
  box-shadow: $btn-box-shadow-other;

  &:focus {
    border: 3px solid $royal-blue;
  }

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: $light-grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-300;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: shade-color($gray-300, 10%);
  }
}

textarea {
  &:focus {
    border-color: $royal-blue !important;
  }
}

// FOR DROPDOWN MENU
.dropdown-toggle {
  height: 86px;
  width: 87px;
  padding: 0 !important;
}

.dropdown-toggle::after {
  visibility: hidden;
}

#dropdown-stick {
  &.show {
    .one-line-menu {
      border-color: $primary;
    }
  }
}

// END of DROPDOWN MENU

// END OF DESIGN SYSTEM VIBEREPORT AREA //
//////////////////////////////////////////
