/*
Here styles for:
- emotion-selection-web page
- response_invite.html.erb
- magic_link.html.erb
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', 'Arial', 'Ubuntu',  sans-serif;
    font-style: normal;
}
.convert {
    width: 127px;
    height: 58px;
    text-align: center;
    margin: 0 auto;
    background: #D9D9D9;
    border: 1px solid #000000;
    box-shadow: 4px 4px 4px #8c8888;
}
.convert p {
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    padding-top: 1px;
    padding-left: 5px;
}

.line1 {
    width: 137px;
    margin-top: 15px;
    margin-left: -7px;
    border-bottom: 1px solid #000000;
    transform: rotate(-155.83deg);
}
.line2 {
    width: 137px;
    margin-top: 0;
    margin-left: -6px;
    border-bottom: 1px solid #000000;
    transform: rotate(-23.42deg);
}
.offset-line2{
    width: 207.14px;
    margin-top: -1.5px;
    margin-left: -9.5px;
    transform: rotate(-24.4deg);
}
.offset-line1{
    width: 207.14px;
    margin-top: 29.3px;
    margin-left: -9.4px;
    transform: rotate(-155.6deg);
}
.bigger {
    width: 190px;
    height: 87px;
}
.ml-240{
    margin-left: 240px;
}
.mt-37{
    margin-top:37px;
}
.ml-41{
    margin-left: 41px;
}
.p-0{
    padding:0;
}
.h-40{
    height: 40px;
}
@media only screen and (max-width: 1380px){
    .h-40{
        height: 57px;
    }
    .mt-37{
        margin-top:20px;
    }
}

.positive,.neutral,.negative{
    height: 31px;
    font-size: 19px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    padding-top: 5.6px;
}
.positive-a,.neutral-a,.negative-a{
    font-weight: bold;
    text-decoration: none;
    height: 31px;
    font-size: 19px;
}
.positive-a:hover,.neutral-a:hover,.negative-a:hover{
    text-decoration: #0a53be;
    font-weight: bold;
    height: 31px;
}
.positive {
    border: 1px solid #000000;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.positive-a {
    color: #4F9B64;
}
.negative{
    border: 1px solid #000000;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.negative-a {
     color: #D1794E;
 }
.neutral{
    border: 1px solid #000000;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.neutral-a {
    color: #4C77CB;
 }
.link-text{
    display: block;
    width: 385px;
    height: 70px;
    font-size: 36px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration-line: none;
    font-weight: 700;
    padding: 13px;
    margin: -15px -29px;
}


/*       BELLOW STYLES FOR EMAIL response_invite.html.erb. PLEASE DON'T CHANGE IT!!!        */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Josefin Sans', 'Arial', 'Ubuntu',  sans-serif;
font-style: normal;
font-weight:700;
text-align: center;
}
.board{
    min-width:1080px;
}
.mt-35{
    margin-top: 35px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.my-0 {
    margin-top: 0;
    margin-bottom: 0
}
@media only screen and (min-width: 720px) {
    .emotions {
        width: 720px;
    }
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.first-row{
    height:8px;
}
.second-row{
    height:50px;
    text-align: left;
}
.envelope {
    width: 130px;
    height: 61px;
    background-image: url("envelope.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.logo{
    color: rgba(0, 0, 0, 0.7);
}
.envelope p {
    margin-top: 4px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    padding-top: 3px;
    padding-left: 5px;
}
.ml-55{
    margin-left: 55px;
}
.mt-10{
    margin-top: 10px;
}
.calendar {
    text-align: left;
    width: 102px;
    height: 115px;
    background-image: url("complete-by.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.invitation {
    width: 453px;
    height: 55px;
    font-size: 24px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
    padding: 8px;
}
.emotions{
    margin:  0 auto;
    width: 720px;
    min-width: 720px;
    padding-bottom: 6px;
}
.underline_list {
    margin:  0 auto;
    width: 720px;
    border-bottom: 3px solid #D2D2D2;
}
.data {
    padding-top: 55px;
    width: 102px;
    height: 14px;
    font-size: 16px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
    white-space: nowrap;
    text-transform: capitalize;
}
.question {
    font-size: 48px;
    line-height: 48px;
    color: #000000;
    white-space: pre-line;
    width: 735px;
    min-height: 114px;
}
.lnk-was-not a{
    font-size: 23px;
    white-space: nowrap;
    text-decoration-line: underline;
    line-height: normal;
    color: #0007A3;
    margin: 0 83%;
}
.row-over-links{
    height: 7px;
}
.btn-emotion{
    height: 31px;
    font-size: 19px;
    line-height: 1.2;
    cursor: pointer;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    border-radius: 15px;
}
.positive{
    color: #4F9B64;
    background: #CCEDD5;
}
.negative{
    background: #FCDDCE;
    color: #D1794E;
}
.neutral{
    background: rgba(86, 137, 235, 0.3);
    color: #4C77CB;
}
.big-btn-tooltip{
    width: 378px;
    height: 19px;
    font-size: 24px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
    margin: 18px auto 14px auto;
}
.correct{
    height: 31px;
}
.neutral-area {
    margin: 0 auto;
    padding: 5px 0;
    width: 540px;
    height: 55px;
    border-bottom: 3px solid #D2D2D2;
}
.big-btn{
    box-sizing: border-box;
    width: 385px;
    height: 70px;
    background: #FFFFFF;
    margin: 0 auto 54px auto;
}
.big-btn-text a{
    padding: 13px 23px 13px 23px;
    width: 385px;
    height: 70px;
    font-size: 36px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.6);
    border: 3px solid #5689EB;
    border-radius: 19px;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    text-decoration-line: none;
    white-space: nowrap;
    margin-inline-start: 0;
}
.lnk-unsubscribe a {
    font-size: 16px;
    line-height: 19px;
    color: #4D4D4D;
    text-decoration: underline;
}

/* Styles for the magic_link.html.erb*/

.first-row-magic {
    height: 3.7rem;
    margin-bottom: 2.125rem;
}
.logo-magic{
    color: #000;
}
.second-row-magic {
    height: 3.7rem;
    margin-bottom: 4.9rem;
}
.greeting {
    height: 3.7rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    color: #000000;
}
.welcome {
    font-size: 2rem;
    line-height: 3.5rem;
}
.third-row-magic {
    height: 3.44rem;
    margin-bottom: 0.875rem;
}
.submit-annotation {
    height: 3.4rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #000000;
}
.fourth-row-magic {
    height: 3.75rem;
}
.btn-magic {
    width: 14.688rem;
    height: 3.75rem;
    background: #D7007B;
    border: 0.0625rem solid #000000;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Inter',  sans-serif;
    line-height: 2.4rem;
    align-items: center;
    color: #FFFFFF;
}
.btn-text-magic {
    padding: .625rem 1.563rem .3125rem 1.563rem;
    width: 11.563rem;
    height: 2.813rem;
}
.btn-text-magic a {
    color: white;
    font-family: 'Inter', sans-serif;
    line-height: 2.438rem;
    font-size: 2rem;
    white-space: nowrap;
    text-decoration: none;
}
.btn-magic:hover{
    cursor: pointer;
}

/* send_results_email */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 325px;
    padding: 0;
    margin: 31px;
}
  
.random-word:hover {
    transform: scale(1.2);
}

.text-invitation {
    height: 55px;
    font-size: 24px;
    line-height: 24px;
    color:       #454547;
    padding: 8px;
}

html {
    height: 90vh;
}

.title {
    font-size: 48px;
    line-height: 96px;
    color: #000000;
    white-space: pre-line;
    width: 735px;
}

.calendar-days {
    text-align: left;
    width: 102px;
    height: 115px;
    background-image: url("calendar_days.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.responses-words {
    position: relative;
    width: 850px;
    height: 325px;
    overflow: inherit;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
  
.random-word {
    position: absolute;
    white-space: nowrap;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
    min-width: 16.6666%; /* 100% / 6 columns */
    min-height: 16.6666%; /* 100% / 6 rows */
}

.link-text-results{
    display: block;
    width: 385px;
    height: 70px;
    font-size: 36px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration-line: none;
    font-weight: 700;
    padding: 13px;
    margin: 5px -29px;
}

.date {
    padding-top: 42px;
    font-size: 16px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
    white-space: nowrap;
    text-transform: capitalize;
}

/* reminder_email */
.second-row-reminder{
    height: 3.7rem;
    margin-top: 145px;
}

.mt-40{
    margin-top: 40px;
}

.text-reminder{
    width: 453px;
    color: rgba(0, 0, 0, 0.7);
}