@import "colors";
@import "design_system_vibereport";

/*TODO: do not use*/
h4.emotion-entry {
  font-weight: 400;
  color: $gray-600;
}

.input-new-word{
  border-radius: 15px;
  font-size: 40px;
  height: auto;
  padding: 2px 12px;

  &::placeholder{
    font-size: clamp(25px, 4vw, 36px);
    font-weight: 700;
    max-width: 100%;
  }
}

