

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: font-url( '../app/assets/fonts/Inter-Bold.ttf' ) format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  src : font_url(asset_path( "JosefinSans-Bold.ttf" )) format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../app/assets/fonts/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2') format('woff2'),
  url('../app/assets/fonts/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}