@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url( 'Inter-Bold.ttf' ) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  src : url( "JosefinSans-Bold.ttf" ) format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans Italic';
  font-style: normal;
  src : url( "JosefinSans-SemiBoldItalic.ttf" ) format('truetype');
  font-weight: 600;
  font-display: swap;
}


