.gif-item {
  box-sizing: border-box;
  display: inline-block;
  margin: 0.5%;
  position: relative;
  width: 24%;
}

.gif-clicked-positive {
  box-sizing: border-box;
  display: inline-block;
  margin: 0.5%;
  position: relative;
  width: 24%;
  border: 8px solid $green;
  border-radius: 6px;
  img {
    width: 100%;
  }
}

.gif-clicked-neutral {
  box-sizing: border-box;
  display: inline-block;
  margin: 0.5%;
  position: relative;
  width: 24%;
  border: 8px solid $blue;
  border-radius: 6px;
  img {
    width: 100%;
  }
}

.gif-clicked-negative {
  box-sizing: border-box;
  display: inline-block;
  margin: 0.5%;
  position: relative;
  width: 24%;
  border: 8px solid $red;
  border-radius: 6px;
  img {
    width: 100%;
  }
}

.gif-item img {
  width: 100%;
}

.gif-list {
  column-gap: 0.5em;
  font-size: .85em;
  margin: 1.5em 0;
  padding: 0;
}

.card-scroll {
  max-height: 417px;
  overflow-y: auto;
}

.card-header {
  height: 74.69px;
}

.card-header input {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  background-color: $light-grey !important;
  &.positive-input {
    color: $green !important;
  }
  &.neutral-input {
    color: $blue !important;
  }
  &.negative-input {
    color: $red;
  }
  &.other-input {
    color: $dark-grey !important;
  }
}

.card {
  height: 417px;
  background: rgba(28, 28, 30, 0.82);
  border-radius: 14.5358px;
  padding: 0 0 10px 0;
}

.card-scroll::-webkit-scrollbar {
  background-color: $light-grey;
  border-radius: 8px;
}

.card-scroll::-webkit-scrollbar-thumb {
  width: 24.08px;
  height: 63.79px;
  background: #77CCFC;
  border-radius: 8px;
}

.gif-image {
  max-width: 590px;
  max-height: 320px;
}

.gif img {
  max-width: 312px;
  max-height: 170px;
  padding: 0;
  border-radius: 6px;
  &.image-small-positive {
    border: 6px solid $green !important;
  }
  &.image-small-neutral {
    border: 6px solid $blue !important;
  }
  &.image-small-negative {
    border: 6px solid $red !important;
  }
}
