@import 'colors';
@import 'design_system_vibereport';

/*TODO: DONE Pages/IcebreakerAnswer.js & /IcebreakerQuestion.js*/
.wrap-textarea {
  &:focus {
    outline: none;
  }
}

.costume-focus {
  &:focus-within {
    border: 6px solid $emerald !important;
  }
}

.max-width-icebreaker {
  max-width: 800px;
}
