@import 'design_system_vibereport';

/////////////////////|
// DEVELOPERS AREA //|
/////////////////////|
a{
  font-size: 23px;
  color: #0007A3;
}
body {
  font-family: $font-family-base;
  font-style: normal;
}
.header {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: $color-black;
  white-space: pre-line;
}
.sub-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: $color-black;
}
.muted {
  color: $color-muted;
}

.text-field-new-html{
  width: 588px !important;
  height:59px;
}
.light-grey-text {
  color: $light-grey;
}
.email_field{
  //@media (min-width: 767px) {
  //  min-width: 660px;
  //}
  box-sizing: border-box;
  //width: 660px;
  background: $color-white;
  margin: 0 auto;
  //text-align: center;
}
.email_field input{
  //@media (min-width: 767px) {
  //  min-width: 660px;
  //}
  height: 70px;
  font-size: 40px;
  line-height: 70px;
  color: $color-muted;
  margin: 13px 0;
  //border: 3px solid $color-blue;
  border: 3px solid $light-blue;
  border-radius: 15px;
  padding-left: 23px;
}
.fa-question {
  color:  $color-rose;
}
.icon-circle {
  position: absolute;
  right: 47px;
  display: inline-flex;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url("question.svg");
}
//<ListEmotion>
.big-btn-text a {
  --bs-link-hover-color: rgba(0, 0, 0, 0.6);
}
.container {
  height: 100vh;
  width: 100vw;
}
.wrapper {
  min-height: 100vh;
  text-align: center;
}
.central-element {
  min-height: 60vh;
}
.help-icon {
  filter: drop-shadow(0px 5.88679px 5.88679px rgba(0, 0, 0, 0.25));
}
//</ListEmotion
//IntenseLine
.rating-comment-container {
  .rating-label {
    box-sizing: border-box;
    width: 110px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 47.8507px;
    line-height: 58px;
    text-align: center;
    color: $black;
  }
  
  .rating-label:hover {
    transform: scale(1.1);
  }
}

.comment-label {
  textarea {
    box-sizing: border-box !important;
    width: 550px;
    height: 190px;
    border: 2px solid $black !important;
    border-radius: 28.7214px;
    padding-top: 20px;
    font-size: 23px;
    margin-top: 5px;
    text-align: justify;
  }

  textarea::placeholder {
    color: #0009 !important;
    font-style: normal;
    font-size: 23px;
    text-align: initial;
  }

  .form-control:focus {
    color: none;
    background-color: white;
    border-color: none;
    outline: 0;
    box-shadow: none;
    border: 2px solid $royal-blue;
  }
}

.gif-productivity {
  margin-top: -41px;
}
.emotion-small {
  margin: 0px 0px 30px;
  margin-top: -6px;
}
//IntenseLine

//ProductivitySlider
.productivity-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  input {
    width: 700px;
  }
  
  .form-range::-webkit-slider-thumb {
    height: 35px;
    width: 35px;
    margin: -17.5px 0 0 0;
  }

  .form-range.level-0::-webkit-slider-thumb  {
    background: #D0D0D0;
  }
  .form-range.level-1::-webkit-slider-thumb  {
    background: #D7C2B8;
  }

  .form-range.level-2::-webkit-slider-thumb  {
    background: #E7AF92;
  }

  .form-range.level-3::-webkit-slider-thumb  {
    background: #E49770;
  }

  .form-range.level-4::-webkit-slider-thumb  {
    background: #E8956C;
  }

  .form-range.level-5::-webkit-slider-thumb  {
    background: #ED7B45;
  }

  .form-range.level-6::-webkit-slider-thumb  {
    background: #FF5300;
  }

  .form-range.level-7::-webkit-slider-thumb  {
    background: #E26D6D;
  }

  .form-range.level-8::-webkit-slider-thumb  {
    background: #EB4848;
  }

  .form-range.level-9::-webkit-slider-thumb  {
    background: #FF0000;
  }
  .form-range::-webkit-slider-runnable-track {
    height: 3px;    
  }

  .form-range.level-0::-webkit-slider-runnable-track {
    background-color: #000000;
    ;
  }
  .form-range.level-1::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #D7C2B8 0%, #8D8C8C 106.1%);
  }

  .form-range.level-2::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #E49770 0%, #D7C2B8 100%);
  }

  .form-range.level-3::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #E49770 0%, #E7AF92 100%);
    width: 0;
  }

  .form-range.level-4::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #E8956C 0%, #E49770 100%);
  }

  .form-range.level-5::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #ED7B45 0%, #E8956C 100%);
  }

  .form-range.level-6::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #FF5300 0%, #ED7B45 100%);
  }

  .form-range.level-7::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #E26D6D 0%, #FF5300 100%);
  }

  .form-range.level-8::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #EB4848 0%, #E26D6D 100%);
  }

  .form-range.level-9::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #FF0000 0%, #EB4848 97.76%);  
  }

  .form-range:focus::-webkit-slider-thumb {
    box-shadow: none;
  }
  .form-range:focus::-moz-range-thumb {
    box-shadow: none;
  }
}


//