@import "colors";
@import "fonts";
@import "variables";
$font-family: 'Josefin Sans', sans-serif;

a{
  font-size: 23px;
  color: #0007A3;
}
body {
  font-family: "Josefin Sans";
  font-style: normal;
}

.header {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: $color-black;
  white-space: pre-line;
}
.sub-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: $color-black;
}
.muted {
  color: $color-muted;
}
.email_field{
  box-sizing: border-box;
  width: 660px;
  background: $color-white;
  margin: 0 auto;
}
.email_field input{
  width: 660px;
  height: 70px;
  font-size: 40px;
  line-height: 70px;
  color: $color-muted;
  margin: 13px 0;
  border: 3px solid $color-blue;
  border-radius: 15px;
  padding-left: 23px;
}
.btn-next, .btn-next:disabled {
  width: 235px;
  height: 52px;
  background: $color-blue;
  border: 1px solid #000000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26.6341px;
  line-height: 32px;
  color: $color-white;
  margin-left: 70px;
}
.fa-question {
  color:  $color-rose;
}
.icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 78.43px;
  height: 78px;
  border-radius: 50%;
  background-color:  #D9D9D9;
  filter: drop-shadow(0px 5.88679px 5.88679px rgba(0, 0, 0, 0.25));
}
//<ListEmotion>
.ic-position{
  position: relative;
  top: 0px;
  left: 0px;
}
.menu{
  display:revert;
  background: linear-gradient(to right top, #D9D9D9 72%, #D7007B 100%);
}
.m-cover{
  z-index:1;
  position: absolute;
  width: 72.43px;
  height: 72px;
  border-radius: 50%;
  margin: 3px 3px;
  background-color: #D9D9D9;
}
.one-line-menu{
  z-index:1;
  position: relative;
  top: 22.19px;
  width:42px;
  height:7.64px;
  background-color: #524F50;
  margin: 5.35px 18.21px;
  border-radius: 3.05px;
}
.at_symbol{
  position: relative;
  font-size: 24px;
  margin: -70px 49px;
  color: #E02AA4;
  font-weight: 800;
}
//</ListEmotion