@import 'design_system_vibereport';

/////////////////////|
// DEVELOPERS AREA //|
/////////////////////|
a{
  font-size: 23px;
  color: #0007A3;
}
body {
  font-family: $font-family-base;
  font-style: normal;
}
.header {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: $color-black;
  white-space: pre-line;
}
.sub-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: $color-black;
}
.muted {
  color: $color-muted;
}

.text-field-new-html{
  width: 588px !important;
  height:59px;
}
.light-grey-text {
  color: $light-grey;
}
.email_field{
  //@media (min-width: 767px) {
  //  min-width: 660px;
  //}
  box-sizing: border-box;
  //width: 660px;
  background: $color-white;
  margin: 0 auto;
  //text-align: center;
}
.email_field input{
  //@media (min-width: 767px) {
  //  min-width: 660px;
  //}
  height: 70px;
  font-size: 40px;
  line-height: 70px;
  color: $color-muted;
  margin: 13px 0;
  //border: 3px solid $color-blue;
  border: 3px solid $light-blue;
  border-radius: 15px;
  padding-left: 23px;
}
.fa-question {
  color:  $color-rose;
}
.icon-circle {
  position: absolute;
  right: 47px;
  display: inline-flex;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url("question.svg");
}
//<ListEmotion>
.big-btn-text a {
  --bs-link-hover-color: rgba(0, 0, 0, 0.6);
}
.container {
  height: 100vh;
  width: 100vw;
}
.wrapper {
  min-height: 100vh;
  text-align: center;
}
.central-element {
  min-height: 60vh;
}
.help-icon {
  filter: drop-shadow(0px 5.88679px 5.88679px rgba(0, 0, 0, 0.25));
}
//</ListEmotion

.color-black{
  color: $black;
}
.gray-600{
  color: $gray-600
}

//new.html.erb
.mt125 {
  margin-top: 125px;
}
.mt-17 {
  margin-bottom:-17px;
}
.w588-h59 {
  width:588px;
  height:59px;
}
.w660 {
  width:660px;
}
.mt162{
  margin-top: 162px;
}
.r47-t767 {
  right: 47px;
  top: 767px
}
.min-w675{
  min-width:675px
}

//create.html.erb
.mt261-min-w750{
  margin-top: 261px;
  min-width:750px;
}
.mb-17 {
  margin-bottom:-17px;
}
.mt64-w746-h49 {
  margin-top:63px;
  width:746px;
  height:49px;
}
.mt77 {
  margin-top:77px;
}
.w500-h59{
  width:500px;
  height:59px;
}
.t767-min-w650{
  top: 767px;
  min-width:650px;
}
.h0{
  height: 0;
}
