@import 'variables';

@mixin emotion {
  &.positive {
    background-color: $green-200;
    color: $sea-green;

    &:active {
      color: shift-color($sea-green, 50%);
      background-color: shift-color($green-200, 15%);
    }
  }
  &.neutral {
    background-color: $pale-cornflower;
    color: $steel-blue;

    &:active {
      color: shift-color($steel-blue, 50%);
      background-color: shift-color($pale-cornflower, 15%);
    }
  }
  &.negative {
    background-color: $apricot;
    color: $cinnamon;

    &:active {
      color: shift-color($cinnamon, 50%);
      background-color: shift-color($apricot, 15%);
    }
  }
  &:active {
    margin: 3px 0 -3px 0;
    border-color: transparent;
  }
}