.results {
  .wrap {
    margin: auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 75vw;
    background-color: $white;
    &.question {
      padding: 32px 27px 18px 27px;
      border: 3px solid $emerald;
      background: $tea-green;
      &.preview {
        height: 500px;
        filter: blur(8px);
      }
    }
    &.shoutout {
      padding: 32px 10px 18px 10px;
      background: $pink;
      border: 3px solid $red-violet;
      &.preview {
        height: 500px;
        filter: blur(8px);
      }
    }

    &.answer {
      background-color: $white;
      min-height: auto;
      word-break: break-word;
    }
    &.empty-answer {
      background-color: $white;
      min-height: auto;
      color: $green-700;
      &.hover-event {
        background-color: $green-700;
        color: $white;
        border: 3px solid $white;
      }
    }
    .expand-icon {
      width: 26.6px;
      height: 26px;
      padding: 0
    }
  }
  .edit-question {
    .form-control {
      box-shadow: none !important;
      border:1px solid $gray-100 !important;
    }
  }
}

.header-position {
  position: relative;
  top: 137px;
}

.text-header-position {
  position: relative;
  top: 120px;
}

//TODO: ShoutoutButton
.hud {
  position: fixed;
  bottom: 30px;
  &.help {
    right: 39px;
    bottom: 45px;
    z-index: 30;
  }
  //TODO: ShoutoutButton
  &.shoutout {
    //left: 40px;
    right: 40px;
    z-index: 2;
  }
}
.emoji-tooltip {
  background-color: $black;
  color: $white;
  padding: 10px;
  border: 1px solid $black;
  border-radius: .75rem;
  min-width: 100px;
  max-width: 180px;
  white-space: normal;
}
.emoji-button {
  height: 22px;
  width: 22px;
  margin-left: 4px;
  background-image: url("reshot-icon-smile.svg");
  &:hover {
    background-image: url("reshot-icon-grinning.svg");
  }
}
.emoji-picker {
  font-size: 14px;
  position: absolute;
  right: 20px;
  //top: 20px;
  z-index: 100
}
.padding-x4 {
  margin-left: 4px;
  margin-right: 4px;
}
.padding-x2 {
  padding-left: 2px;
  padding-right: 2px;
}
.emoji-container {
  font-size: 22px !important;
  line-height: 22px !important;
}
