@import "colors";

/*TODO: do not use*/
body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  background: white;
  filter: blur(50px);
}

.swal2-close-button {
  position: absolute;
  top: -13px;
  right: -13px;
  width: 35px !important;
  height: 35px !important;
  border-radius: 50% !important;
  background: $red !important;
  border: 1px solid $black !important;
  color: $black !important;
}

/*TODO: do not use*/
.swal2-container.swal2-center>.swal2-popup {
  border: 4.01818px solid $royal-blue;
  border-radius: 15px;
}

.btn.btn-logout-no{
  height: 40px;
  background-color: $gray-200;
  border: none;
  &:hover {
    background-color: shift-color($gray-200, 30%);
  }
}

.btn.btn-logout-yes{
  height: 40px;
  border: none;
}

/*TODO: do not use*/
.swal2-actions {
  column-gap: 3rem;
  row-gap: 1rem;
}