// Adaptive fonts: Enabling RFS (Responsive Font Sizes)
$enable-responsive-font-sizes: true;

// font-grid variables
$font-size: (
        1: 3rem, // 48px
        2: 2.75rem, // 44px
        3: 2.5rem, // 40px
        4: 2.25rem, // 36px
        5: 2rem, // 32px
        6: 1.75rem, // 28px
        7: 1.5rem, // 24x
        8: 1.25rem, // 20x
);

@import 'bootstrap/scss/bootstrap';

// Setting basic variables for typography
$font-size-base: 1rem; //16px
$font-weight-bold: 700;

$headings-font-family: $font-family-base;
$headings-font-weight: $font-weight-bold;
$headings-color: $black;

/* Custom typography styles */
//Heading styles
$heading-styles: (
        h1: (font-size: map-get($font-size, 1)), //48px
        h2: (font-size: map-get($font-size, 4)), //36px
        h3: (font-size: map-get($font-size, 5)), //32px
        h4: (font-size: map-get($font-size, 6)), //28px
        h5: (font-size: map-get($font-size, 7)), //24px
        h6: (font-size: map-get($font-size, 8)), //20px
);

// Generating styles for headings
@each $heading, $styles in $heading-styles {
  #{$heading}, .#{$heading} {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $line-height-base;
    font-size: map-get($styles, font-size);
    @include rfs(map-get($styles, font-size)); // add RFS
    margin-bottom: map-get($styles, margin-bottom);
    }
  }

// Adding font-grid variables to Bootstrap "font-size"-utility (fs-*)
$utilities: map-merge(
                $utilities,
                (
                        "font-size": (
                                property: font-size,
                                class: fs,
                                values: $font-size,
                                responsive: true
                        )
                )
);


// body text-styles
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  color: $headings-color;
  background-color: $white;

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    }
  }
