<div class="container text-center">
  <h2 class="my-3">Check your inbox</h2>
  <h4>Look for an unique access link in your inbox at:</h4>
  <% if params.dig("passwordless", "email").present? %>
    <h4 class="my-3"><%= params.dig("passwordless", "email") %></h4>
  <% end %>
  <h4>If you have any issues, use the help button at the bottom right of this window to contact an administrator.</h4>
</div>
