<div class="container text-center" style="margin-top: 250px">
  <div class="convert my-4">
    <p>Logo/Brand</p>
    <div class="line1"></div>
    <div class="line2"></div>
  </div>
  <div class="sub-header my-4">Check your inbox!</div>
  <h4 class="my-2">Look for an unique access link in your inbox at:</h4>
  <% if params.dig("passwordless", "email").present? %>
    <h2 class="my-3 muted"><%= params.dig("passwordless", "email") %></h2>
  <% end %>
  <h4 class="muted my-4">If you have any issues, use the help button at the bottom right of this window to contact an administrator.</h4>
  <div class="d-flex align-items-center justify-content-end" style="margin-top: 100px">
    <%= link_to "mailto: support@#{ENV.fetch('EMAIL_DOMAIN')}", class: 'icon-circle' do %>
      <%= content_tag(:i, "", class: "fa-solid fa-3x fa-question") %>
    <% end %>
  </div>
</div>
