<div class="text-center mx-5" style="margin-top: 250px">
  <%= image_tag("logo.svg", width: 190, height: 87) %>
  <div class="sub-header my-4">Check your inbox!</div>
  <h4 class="my-2">Look for an unique access link in your inbox at:</h4>
  <% if params.dig("passwordless", "email").present? %>
    <h2 class="my-3 muted"><%= params.dig("passwordless", "email") %></h2>
  <% end %>
  <h4 class="muted my-4">
    <p class='m-0'>If you have any issues, use the help</p>
    <p class='m-0'>button at the bottom right of this window</p>
    <p class='m-0'>to contact an administrator.</p>
  </h4>
  <div class="d-flex align-items-center justify-content-end" style="margin-top: 100px">
    <%= link_to image_tag("help.svg"),
                "mailto: support@#{ENV.fetch('EMAIL_DOMAIN')}",
                class: 'help-icon' %>
  </div>
</div>
