<%= form_with model: @session, url: send(Passwordless.mounted_as).sign_in_path, data: { turbo: 'false'} do |f| %>
  <div class="container text-center" style="margin-top: 150px">
    <div class="header mt-5">Oh, hi there!</div>
    <div class="sub-header muted my-4">Welcome to</div>
    <div class="convert my-4">
      <p>Logo/Brand</p>
      <div class="line1"></div>
      <div class="line2"></div>
    </div>
    <% if flash.to_h["error"] == 'Expired!' %>
      <h3 class="text-field-new-html mx-auto b3 muted my-4">
        Your login link may have expired. Click here to get a new one
      </h3>
    <% else %>
      <div class="text-field-new-html mx-auto b3 muted my-4">
        Enter your email address and we’ll send you a link to access your check-in and profile
      </div>
    <% end %>
    <div class="email_field my-4">
      <% email_field_name = :"passwordless[#{@email_field}]" %>
      <%= text_field_tag email_field_name, params.fetch(email_field_name, nil), placeholder: "Enter email here", id: "email-input" %>
    </div>
    <div class="d-flex align-items-center" style="margin-top: 100px">
      <div class="w-100">
        <div class="justify-content-center">
          <%= f.submit 'Next', class: "btn btn-regular c1", id: "next-button", disabled: true %>
        </div>
      </div>
      <div>
        <%= link_to "mailto: support@#{ENV.fetch('EMAIL_DOMAIN')}", class: 'icon-circle' do %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  window.onload = function() {
    $(document).ready(function() {
      // Get the input and button elements
      const input = $("#email-input");
      const button = $('#next-button');
      // Attach an event listener to the input field
      input.on('input', function() {
        // Check if the email is valid using a regular expression
        if (/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(input.val())) {
          button.attr('disabled', false);
        } else {
          button.attr('disabled', true);
        }
      });
    });
  }
</script>