<!DOCTYPE html>
<html lang="en">
<head>
  <title>Your Vibe Report Login Request</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <style>
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Josefin Sans', 'Arial', 'Ubuntu',  sans-serif;
          font-style: normal;
          font-weight:700;
          text-align: center;
      }
      @media only screen and (max-width: 600px){
          *{
              font-size: 2rem;
          }
      }
      .board{
          min-width:600px;
          margin-top:56px;
      }


  </style>
  <%= stylesheet_link_tag 'email_page' , media: 'all' %>
</head>
<body>
<div class="board">
  <div class="first-row-magic">
    <div class="mx-auto">
      <%= render 'layouts/logo', height: 61 %>
    </div>
  </div>
  <div class="mx-auto second-row-magic">
    <div class="mx-auto greeting">Oh, hi there!</div>
    <div class="welcome">Welcome back</div>
  </div>
  <div class="mx-auto third-row-magic">
    <div class="submit-annotation">An access request associated with your email was submitted</div>
  </div>
  <div class="fourth-row-magic">
    <div class="mx-auto btn-magic">
      <div class="btn-text-magic">
        <%= link_to "Access Site", send("#{@scope_name.to_s.pluralize}_magic_link_url", Hash[@scope_name, {email: @resource.email, token: @token, remember_me: @remember_me}]), target: '_blank' %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
