<div class="modal modal-help" id="helpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<%= link_to image_tag("sys_svg/x-close.svg"), '#', class: 'position-absolute x-close pointer', data_bs_dismiss:
					"modal" %>
				<h3 class="modal-title">Questions or issues? Let us know!</h3>
				<h6 class="muted">Your questions and insights help make Vibe Report better!</h6>
				<div class="d-flex align-items-center my-2">
					<%= link_to "Send us an email", "mailto: support@#{ENV.fetch('EMAIL_DOMAIN')}", class: "btn btn-regular c1 d-flex align-items-center border-0" %>
				</div>
				<div class="bg-light-gray rounded-4 p-1 ">
					<h6 class="text-start">Additional information about Vibe Report can be found at:</h6>
					<%= link_to "https://samplenamerealsourcehere.com", "#", class: "h6 d-block text-wrap w-100 text-start
					text-decoration-none" %>
				</div>
			</div>
		</div>
	</div>
</div>
